* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #000000;
    color: white;
}

.primary-nav {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 30px;
}

.footer-nav {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 30px;
    width: 100%;
    z-index: 1000;
}

.primary-nav li, .footer-nav li {
    display: inline;
    margin: 0 10px;
}

.primary-nav a, .footer-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    display: block;
    flex: 1;
}

.side-nav {
    width: 20%;
    height: 100%;
    background-color: #2c2727;
    padding: 20px;
    display: block;
    float: right;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav a {
    color: #fff;
    text-decoration: none;
}

#main-content {
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 24px;
}

/* Sticky Header Style */
.sticky {
    position: sticky; /* Sticky position */
    top: 0; /* Stick to the top */
    background-color: #fff; /* Background color */
    padding: 10px; /* Padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    z-index: 1000; /* Ensure it appears above other elements */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}